* {
  margin: 0;
  padding: 0;
  background-color: black;
  color: rgb(121, 252, 139);
}

.gameContainer {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.container {
  display: grid;

  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  font-family: "Roboto Mono", monospace;
  position: relative;
}

.box {
  /* color: color: rgb(121, 252, 139); */
  border: 2px solid rgb(121, 252, 139);
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.box:hover {
  background-color: rgb(7, 7, 7);
}

.info {
  font-size: 2rem;
  font-family: "Roboto Mono", monospace;
  display: block;
  margin-bottom: 1.5 rem;
}

.gameInfo {
  padding: 0 34px;
  font-family: "Roboto Mono", monospace;
}

.gameInfo h1 {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-size: 2.5rem;
}

.imgbox img {
  width: 0;
  transition: width 1s ease-in-out;
}

.br-0 {
  border-right: 0;
}

.bl-0 {
  border-left: 0;
}

.bt-0 {
  border-top: 0;
}

.bb-0 {
  border-bottom: 0;
}

#reset {
  margin: 0 1.4rem;
  padding: 0 1rem;
  background: black;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  font-weight: bolder;
}

.line {
  background-color: black;
  height: 8px;
  width: 0;
  position: absolute;
  background-color: rgb(121, 252, 139);
  transition: width 0.5s ease-in-out;
}

@media screen and (max-width: 950px) {
  .gameContainer {
    flex-wrap: wrap;
  }
  .gameInfo {
    margin-top: 5%;
  }
  .gameInfo h1 {
    font-size: 2rem;
  }
  .box {
    font-size: 4rem;
  }
  #reset {
    width: 10px;
    background: black;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    font-size: 10px;
    font-weight: bolder;
  }
  #reset span {
    transform: rotate(180deg);
  }
  .gameInfo h1 {
    font-family: "Roboto Mono", monospace;
    font-style: italic;
    font-size: 1.5rem;
  }
  .container {
    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
    padding-bottom: 30px;
  }
}
